.DS_Store
node_modules
/db/.svelte-kit
/buzzing/.svelte-kit
/ocean/.svelte-kit
/package
/buzzing/data
/db/build
/buzzing/build
/ocean/build
/db/.env
/buzzing/.env
/ocean/.env
localhost.pem
localhost-key.pem