:root {
    --blue: #0061C2;
    --green: #2C8250;
    --red: #D14444;
    --orange: #F5C13D;
    --purple: #623e98;
    --light-gray: #EEE;
    --med-gray: #dbd7c7;
    --dark-gray: #13241a;
    --color-1: #264E43;
    --color-2: #2C8250;
    --color-3: #8BB86D;
    --color-4: #d8b012;
    --color-5: #D6AC34;
}

html, body {
    color: black;
    margin: 0;
    font-family: 'Ubuntu';
    background-color: var(--color-1);
}

input {
    outline: none;
    font-family: 'Ubuntu';
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

select:focus {
    outline: none;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-5);
    width: 7px;
    border-radius: 7px;
}

body::-webkit-scrollbar-track-piece:start {
    margin-top: -0.1em;
    background: transparent;
}

body::-webkit-scrollbar-track-piece:end {
    margin-bottom: -0.1em;
    background: transparent;
}