:root {
    
    --primary: #285;
    --primary-rgb: 32, 128, 80;
    
    --background-1: hsl(0,0%,93%);
    --background-2: #d4d9d9;
    --background: #d4d9d9;
    
    --text: #1e293b;
    --text-light: #ffffff;
    --text-muted: #64748b;    
    --border-color: #666;
    --gray-1: #e2e8f0;
    --gray-2: #64748b;
}

html, body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background);
    color: var(--text);
}

input {
    outline: none;
    font-family: 'Ubuntu';
    color: var(--text);
    background-color: var(--background-1);
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

select:focus {
    outline: none;
}

select, textarea {
    color: var(--text);
    font-family: 'Ubuntu';
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: var(--primary, var(--green));
    width: 7px;
    border-radius: 7px;
}

body::-webkit-scrollbar-track-piece:start {
    margin-top: 0.2em;
    background: transparent;
}

body::-webkit-scrollbar-track-piece:end {
    margin-bottom: 0.2em;
    background: transparent;
}
